@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Layout utilities for App
.layout {
  position: relative;
  //@include flex-center(column);
  //@include respond-to($breakpoints, md) {
  //  flex-direction: row;
  //}
}

.layout__main {
  flex: 1;
  padding: $spacing-8;
  transition: transform $transition-fast;
  background-color: $color-background;

  &.main--shifted {
    transform: translateX(250px); // Adjust this value as needed for Sidebar width
  }
}

.container {
  @include container;
}
