@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;


.button {
  @include button-base;

  &--primary {
    background-color: $color-primary;
    color: #ffffff;

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: #ffffff;

    &:hover {
      background-color: $color-secondary-dark;
    }
  }

  &--outline {
    background-color: transparent;
    border-color: $color-border;
    color: $color-text;

    &:hover {
      background-color: rgba($color-secondary, 0.1);
    }
  }

  &--sm {
    padding: $spacing-1 $spacing-2;
    font-size: $font-size-sm;
  }

  &--lg {
    padding: $spacing-3 $spacing-6;
    font-size: $font-size-lg;
  }
}