@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.layout {
  position: relative;
  @include flex(column, center, center);
  min-height: 100vh;
  transition: transform $transition-base, scale $transition-base;

  &__main {
    width: 100%;
    @include flex(row, center);
    flex: 1;
    padding: $spacing-8 0;
    transition: transform $transition-base, scale $transition-base;
    overflow-x: hidden;

    &.main--shifted {
      transform: scale(0.9);
    }

    /* Lorsque la sidebar est fermée */
    &:not(.main--shifted) {
      transform: scale(1) translateX(0);
    }
  }

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: $spacing-4;
  }

  @media (max-width: $breakpoint-md) {
    &__main.main--shifted {
      transform: scale(0.95) translateX(-150px); /* Ajustement du décalage pour mobile */
    }
  }

  @media (max-width: $breakpoint-sm) {
    &__main.main--shifted {
      transform: scale(0.98) translateX(-100px); /* Moins de décalage pour petits écrans */
    }
  }
}


