@use '@/styles/abstracts/variables' as *;

html, body {
  font-size: $font-size-base;
  line-height: 1.5;
  color: $color-text;
  background-color: $color-background;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacing-4;
  font-weight: $font-weight-bold;
  line-height: 1.2;
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: color $transition-base;

  &:hover {
    color: $color-primary-dark;
  }
}